#container{
    background-color: darkgrey;
    height: 500px;
    width: 500px;
    margin: 150px auto;
    display: flex;
    gap: 10px;
    flex-direction: row;
}
.box{
    background-color: black;
    flex: 1 1 auto;
}
.subdiv{
    display:flex;
    flex-direction: column;
    flex: 1 1 0;
    gap: 10px;
}
