#container{
    background-color: darkgrey;
    height: 500px;
    width: 500px;
    margin: 150px auto;
    display: flex;
    gap: 10px;
    flex-direction: row;
}
.box{
    height: 20px;
    width: 20px;
    background-color: black;
    flex: 1 1 auto;
}
.subdiv{
    display:flex;
    flex-direction: column;
    gap: 10px;
}
